# Ternary 디렉토리
ternary/data

# BNN 디렉토리
BNN/data
__pycache__
nohup.out
model_best_resnet.pth.tar

# Pretrained Model 디렉토리
model

# 데이터셋
dataset
BitNet_based_ternary/data

# Ternary with STE 의 데이터 셋
Ternary_with_STE/data

# Compare를 위한 디렉토리
BinSFO_copy

# Nohup output 
result

# Etc.
MiniGPT-4
DACON
Dalton